/* GLOBAL */

body {
  margin: 0;
  font-family: "Bodega Sans", sans-serif;
  font-size: 1rem;
  background-color: rgb(61, 61, 61);
  background-image: url("../images/bg_body.svg");
}

nav,
a {
  color: #ffffff;
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  font-family: "BodegaSans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

span {
  color: orange;
}

/* HEADER */

header {
  margin: 5%;
  background: linear-gradient(#ffffff, #242424);
}

.logo {
  width: 200px;
}

header nav a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "BodegaSans", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
}

/* MAIN */

main {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

main h1,
main span {
  padding: 5% 0;
  font-size: 2rem;
  text-align: center;
}

main h2,
main h2 span,
main h3 {
  font-size: 1.5rem;
}

main h3 {
  text-align: center;
  padding-bottom: 2%;
  color: orange;
  border-bottom: solid 2px orange;
}

main p {
  text-align: center;
  padding: 1%;
}

main section article {
  background-color: #ffffff;
}

button {
  padding: 4%;
  color: #ffffff;
  width: 100%;
  background-color: orange;
  border: none;
}

.reseaux {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  color: #ffffff;
}

.botmain {
  color: #ffffff;
}

video {
  padding: 5%;
}

/* FOOTER */

footer {
  margin: 5%;
  box-shadow: 1px 1px 15px black;
}

footer h2 {
  padding-top: 5%;
  font-size: 1.5rem;
  text-align: center;
}

footer p {
  padding: 0 5%;
  color: #ffffff;
  text-align: center;
  font-size: 0.9rem;
}

.footernav a {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
}

/* DESKTOP */

@media screen and (max-width: 1024px) {
  img {
    width: 100%;
  }

  video {
    width: 100%;
  }
}
