/* GLOBAL */

body {
  margin: 0;
  font-family: "Bodega Sans", sans-serif;
  font-size: 1rem;
  background-color: rgb(61, 61, 61);
  background-image: url("../images/bg_body.svg");
}

nav,
a {
  color: #ffffff;
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  font-family: "BodegaSans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

span {
  color: orange;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
  height: 400px;
  background: linear-gradient(-28deg, #242424 50%, #ffffff 50%);
}

.logo {
  width: 70%;
  margin: 0 17% 0 13%;
}

header nav a {
  height: 60px;
  margin: 0 5%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "BodegaSans", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
}

/* MAIN */

main {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

main h1,
main span {
  padding: 5% 0;
  font-size: 2rem;
  text-align: center;
}

main h2,
main h2 span,
main h3 {
  font-size: 1.5rem;
}

main h3 {
  text-align: center;
  padding-bottom: 2%;
  color: orange;
  border-bottom: solid 2px orange;
}

main p {
  text-align: center;
  padding: 1%;
}

main section article {
  background-color: #ffffff;
}

button {
  padding: 4%;
  color: #ffffff;
  width: 100%;
  background-color: orange;
  border: none;
}

.reseaux {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  color: #ffffff;
}

.botmain {
  color: #ffffff;
}

video {
  padding: 5%;
}

/* FOOTER */

footer {
  margin: 5%;
  box-shadow: 1px 1px 15px black;
}

footer h2 {
  padding-top: 5%;
  font-size: 1.5rem;
  text-align: center;
}

footer p {
  padding: 0 5%;
  color: #ffffff;
  text-align: center;
  font-size: 0.9rem;
}

.footernav a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.9rem;
}

/* TABLETTE */

@media screen and (max-width: 768px) {
  header {
    height: 200px;
    background: linear-gradient(-35deg, #242424 50%, #ffffff 50%);
  }

  .logo {
    padding: 5% 1%;
    width: 170px;
  }

  header nav a {
    height: 30px;
    margin: 0 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: right;
    font-family: "BodegaSans", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
  }
}

/* DESKTOP */

@media screen and (max-width: 1024px) {
  img {
    width: 100%;
  }

  video {
    width: 100%;
  }
}
